<!-- 
<div class="contain mt-5 p-5">
  <form class="search-form">
    <div class="form-group">
      <input type="text" class="form-control" name="title" [(ngModel)]="searchTerm">
    </div>
    <button type="button" class="btn btn-primary" (click)="searchTerm && searchMovies(searchTerm)">Search</button>
  </form>
</div> -->

<div class="header">
  <h1>Search Shows/Movies</h1>
</div>

<div class="contain mt-5 p-5">



  <form class="search-form">

    <div class="form-div">

      <input type="text" class="form-control-one" name="title" [(ngModel)]="searchTerm"
        placeholder=" Search Movies or TvShow">

      <span>
        <button type="button" class="btn btn-primary"
          (click)="searchTerm && searchMovies(searchTerm,typeofShow) ">Search</button>
      </span>

    </div>

  </form>
</div>

<div class="form-group-filter">

</div>

<select class="form-control" name="type" [(ngModel)]="typeofShow">
  <option value="TV Show">TV Show</option>
  <option value="Movie">Movie</option>
</select>


<div class="card-container">
  <div class="card" (click)="navigateToDetails(tvshow.show_id)" *ngFor="let tvshow of movies">
    <div class="card-header">
      {{ tvshow.title }}
    </div>
    <div class="card-body">
      <p>Rating: {{ tvshow.rating }}</p>
      <p>Show ID: {{ tvshow.show_id }}</p>
      <p>Date : {{ tvshow.date_added }}</p>
    </div>
  </div>
</div>