<!-- <div class="contain mt-5 p-5">
    <form #searchForm="ngForm" (ngSubmit)="getMovieName(searchForm.value)">
        <div class="row">
            <div class="mb-3 col-lg-10">
                <input type="text" ngModel name="searchTerm" placeholder="Search movie here...">
            </div>

            <div class="col-lg-2">
                <button class="btn btn-md">Search</button>
            </div>

        </div>
    </form>
</div> -->


<!-- <div class="contain mt-5 p-5">
<form>
    <div class="form-group">
      <input type="text" class="form-control" name="title" [(ngModel)]="searchTerm">
    </div>
    <button type="button" class="btn btn-primary" (click)="searchMovies(title)">Search</button>
</form>
</div> -->


<!-- <div class="contain mt-5 p-5">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" name="title" [(ngModel)]="searchTerm">
    </div>
    <button type="button" class="btn btn-primary" (click)="searchTerm && searchMovies(searchTerm)">Search</button>
  </form>
</div> -->


<div class="contain mt-5 p-5">
  <form class="search-form">
    <div class="form-group">
      <input type="text" class="form-control" name="title" [(ngModel)]="searchTerm">
    </div>
    <button type="button" class="btn btn-primary" (click)="searchTerm && searchMovies(searchTerm)">Search</button>
  </form>
</div>

<div class="card-container">
  <div class="card" (click)="navigateToDetails(tvshow.show_id)" *ngFor="let tvshow of movies" >
    <div class="card-header">
      {{ tvshow.title }}
    </div>
    <div class="card-body">
      <p>Rating: {{ tvshow.rating }}</p>
      <p>Show ID: {{ tvshow.show_id }}</p>
    </div>
  </div>
</div>

<!-- <ng-container *ngIf="!isLoading">
<div class="card-container">
  <div class="card" (click)="navigateToDetails(tvshow.show_id)" *ngFor="let tvshow of movies" >
    <div class="card-header">
      {{ tvshow.title }}
    </div>
    <div class="card-body">
      <p>Rating: {{ tvshow.rating }}</p>
      <p>Show ID: {{ tvshow.show_id }}</p>
    </div>
  </div>
</div>
</ng-container> -->


  <!-- <table *ngIf="movies.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Cast</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.title }}</td>
        <td>{{ movie.cast.join(', ') }}</td>
        <td>{{ movie.genre }}</td>
      </tr>
    </tbody>
  </table> -->
  